/* Universal selector */
*{
    color: red;
    font-size: 20px;
    margin: 0px;
    padding: 0px;
}

/* tag selector or element selector */
h1{
    color: green;
    text-align: center;
}

/* attribute selector */
a[title="google"]{
    color: blue;
    letter-spacing: 10px;
}

/* id selector */
#idone{
    color: red;
}

.classone{
    color: brown;
    text-transform: capitalize;
    word-spacing: 10px;
    line-height: 30px;
    text-indent: 40px;
}

/* desc&child selector */
.desc a{
    color: red;
    text-decoration: none;
}

.child >a{
    color: green;
}

/* Pseudo selector */
a:link{
    color: red;
}

a:hover{
    color: green;
}

a:active{
    color: yellow;
}

a:visited{
    color: brown;
}

/* target */
:target{
    color: red;
    border: 2px solid black;
}

/* border */

.borderone{
    border: 20px dashed yellow;
}

.bordertwo{
    border-left: 10px solid red;
}

.bordersizeone{
    border-style: solid;
}

.borderstyle{
    border-style: solid dashed double dotted;
    border-color: red green;
}

/* margin */

.margin{
    border: 1px solid black;
    margin: 50px;

}

/* padding */

.padding{
    border: 1px solid red;
    padding: 100px 10px 50px 20px;
}

/* inline */
.inline{
    border: 2px solid red;
    width: 300px;
    display: inline-block;
}

.block{
    border: 2px solid black;
    width: 300px;
    display: inline-block;
}

.float_left img{
    width: 40%;
    float: left;
}

.clear{
    clear: both;
}

.float_right img{
    width: 40%;
    float: right;
}

.clear{
    clear: both;
}

/* Grid Lesson */

.gridone div,.gridtwo div,.gridthree div,.gridfour div,.gridfive div,.gridsix div{
    padding: 20px;
    color: white;
    text-align: center;
}

.gridone,.gridtwo,.gridthree,.gridfour,.gridfive,.gridsix{
    display: grid;
    grid-template-columns: auto auto auto;
}

.gridtwo{
    grid-column-gap: 50px;
}

.gridthree{
    grid-row-gap: 30px;
}

.gridfour{
    grid-gap: 50px;
}

.columnadd{
    grid-column-start: 1;
    grid-column-end: 3;
}

.rowadd{
    grid-column-start: 2;
    grid-row-start: 2;
    grid-row-end: 4;
}

/* Position */
/* relative */
/* Relative ဆိုတာ အပေါ်မှာရှိတဲ့ html tag ကို အခြေပြုပြောင်းတာ */
.relative_parent {
    border: 2px solid red;
    width: 70%;
    height: 400px;
}

.relative {
    border: 1px solid black;
    position: relative;
    width: 40%;
    height: auto;
    top: 50px;
    left: 60px;
}

/* absolute ဆိုတာ Page အစကနေ စပီး margin တေ padding တေပြောင်းတာ */
/* absolute */
.absolute_parent {
    border: 1px solid green;
    width: 70%;
    height: 400px;
    position: relative;
}

.absolute {
    border: 1px solid black;
    position: absolute;
    width: 60%;
    height: auto;
    top: 60px;
    left: 60px;
}

/* fixed */
.fixed {
    position: fixed;
    top: 100px;
    right: 100px;
}